@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #dad7cd;
    font-family: 'Nunito', sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#seletorTipoCronometro{
    display: grid;
    place-items: center;
}

#seletorBotoes button{
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

#cronometro{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#frame{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px #344e41 solid;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

h1{
    font-size: 50px;
    color: #344e41;
}

#temporizador{
    margin: 2vh;
    font-size: 45px;

}

#controlesPomodoro{
    display: flex;
    gap: 1vw;
    order: -1;
    margin-bottom: 3vh;
}

#seletorPomodoro, #seletorNormal, #botaoVoltar, #botaoDescanso, #botaoConcentracao{
    background-color: #588157;
    transition: .3s;
}

#seletorPomodoro:hover, #seletorNormal:hover, #botaoVoltar:hover, #botaoDescanso:hover, #botaoConcentracao:hover{
    background-color: #344e41;
}

button{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 3px;
    margin-top: 3vh;
}

button:enabled{
    cursor: pointer;
}

i {
    font-size: 26px;
    color: #588157;
    padding: 3px;
    margin-top: 3vh;
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 30px;
    }

    button{
        font-size: 20px;
        padding: 7px;
    }

    #controlePomodoro{
        margin-bottom: 3vh;
    }
}
